<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <%- include('partials/head')  %>
</head>

<body>

    <%- include('partials/navigation')  %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-item-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, nemo ipsa sint esse vel cumque placeat necessitatibus animi ipsum amet quia eligendi iusto recusandae quasi quod officia illum accusantium consequatur ea! Saepe, fugiat dolores? Necessitatibus repellat voluptatibus nesciunt impedit harum nihil provident quisquam! Maiores debitis doloribus autem distinctio velit nostrum qui consectetur aperiam provident, ab eligendi! In alias magnam ullam soluta officia aliquam, beatae at? Temporibus sed veritatis eum quo sit soluta pariatur autem deleniti ab veniam tenetur a repudiandae molestias incidunt, odit asperiores aliquam possimus. Veritatis hic adipisci facere eaque omnis, mollitia incidunt quidem quibusdam, molestiae ipsam quo! Voluptate reiciendis, reprehenderit natus molestias minima consequatur suscipit, libero rem velit officia architecto sapiente necessitatibus minus veritatis labore, quam dolor quae nesciunt temporibus provident fugiat ea similique fugit! Perspiciatis ad blanditiis incidunt repudiandae harum sequi repellat deserunt rerum suscipit, pariatur culpa velit iusto explicabo. Quos dolorem corrupti voluptas odio odit atque quo perspiciatis pariatur eum deleniti? Sequi delectus odit alias ex, perspiciatis dignissimos dolores iusto pariatur earum saepe rerum recusandae consectetur quae inventore. Reprehenderit ex pariatur, nemo minus earum placeat nihil fuga eius laudantium? Quas quis pariatur est reiciendis perferendis? Ex voluptas quibusdam quae mollitia nulla quod, reprehenderit similique adipisci ipsam?</p>
        </section>
    </main>
    <%- include('partials/footer')  %>
</body>

</html>